
<launch>

    <param name="/use_sim_time" value="true" />
    
    <param name="robot_description" textfile="$(find lidar_perception)/urdf/G2003.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
       <param name="publish_frequency" value="100" />
    </node>

</launch>